* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #000000;
}

#page {
  max-width: 112rem;
  max-height: 100vh;
  margin: 0 auto;
  padding-top: 11.5rem;

}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search {
  display: flex;
  gap: 0.8rem;
}

#search button {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;

  background-color: #065E7C;
  color: #FFFF;

  border: none;
  border-radius: 5px;

  /*padding: 1.2rem 3.2rem;*/
  width: 17rem;
  justify-content: center; 
  text-transform: uppercase;
}

#search button:hover {
  background: #FFFFFF;
  color: hsla(195, 91%, 25%, 1);
}

#search button:hover svg path {
  fill: hsla(195, 91%, 25%, 1);
}

button {
  cursor: pointer;
}

#search input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;

  background-color: #06181C;
  color: #7C7C8A;

  border: none;
  border-radius: 5px;

  width: 46.2rem;
  padding: 1.6rem;
}

.scrollable {
  margin-top: 8.7rem;
  height: 68.8rem;
  width: 100%;

  overflow: auto;

  border: 1px solid #4A808C;
  border-radius: 1.2rem;

}

.scrollable::-webkit-scrollbar {
  width: 1px;
}

.scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: white; 
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

table {
  width: inherit;
  /*height: 100%;*/
  /*margin-top: 8.7rem;*/

  position: sticky;
  
  
  
  border-spacing: 0;

  /*overflow: hidden;*/
  border-collapse: separate;
}

table * {
  text-align: left;
  color: #E1E1E6;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;

  
}

thead {
  background-color: hsla(194, 72%, 13%, 1);
  border: 1px solid #4A808C;
  border-bottom: none;
}

thead tr {
  height: 6.4rem;
}

tbody {
  border: 1px solid #4A808C;
  border-top: none;
}

tbody tr {
  height: 10.4rem;
  border-bottom: 1px solid #4A808C;
}

tbody tr:nth-child(odd) {
  background: hsla(195, 61%, 6%, 0.5);
}

tbody tr:nth-child(even) {
  background: hsla(192, 65%, 7%, 1);
}

tbody tr td:first-child {
  padding: 2.4rem 4rem;
}

tbody tr td:first-child .git-user p, tbody tr td:first-child .git-user span {
  font-weight: 400;
}

tbody td img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

th, td {
  padding-left: 4rem;
}

th:first-child {
  border-top-left-radius: 1.2rem;
}

th:last-child {
  border-top-right-radius: 1.2rem;
}

/*tr:last-child {
  border-radius: 1.2rem;
}*/

/*tr:last-child td:last-child {
  border-bottom-right-radius: 1.2rem;
}*/

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 1.2rem;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 1.2rem;
}

.personal-info {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.git-user {
  display: flex;
  flex-direction: column;
}

.remove {
  color: #F75A68;
}