* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

#page {
  max-width: 112rem;
  max-height: 100vh;
  margin: 0 auto;
  padding-top: 11.5rem;

}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search {
  display: flex;
}

table {
  width: 100%;
  height: 100%;
  margin-top: 8.7rem;
}

table * {
  text-align: left;
}

thead tr {
  height: 6.4rem;
}

tbody tr {
  height: 10.4rem;
}

tbody td img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

th, td {
  padding-left: 4rem;
}

.personal-info {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.git-user {
  display: flex;
  flex-direction: column;
}